@import url('https://fonts.googleapis.com/css?family=Exo+2:800&display=swap');

.twitterTag {
  font-family: 'Exo 2', sans-serif;
  text-align: center;
  font-size: 1.4em;
  color: #207DFF;
  margin-left: 1em;
}

.socMedia {
  background-color: #00BD56;
  justify-content: center;
  width: 80vw;
  max-width: 875px;
  /*min-height: 70vh;*/
  padding-right: 2em;
  img {
    width: 80px;
    padding: 1
    0px;
  }
}

.spacerDiv {
  height: 2vh;
}

.imgLinksDiv {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.imgLinks {
  margin: 1em;
}

.cartoonRef {
  justify-content: center;
  margin-left: 2em;
  padding-top: 2em;
  padding-bottom: 0.4em;
}
.mayaRef {
  display: inline;
  padding-top: 0;
  padding-bottom: 1vh;
}