.home {
  z-index: 1000;
  color: #85EF47;
  color: #F9FD50;
  background-color: #00BD56;
  width: 80vw;
  max-width: 875px;
  min-height: 70vh;
  padding-left: 2em;
  opacity: 1;
  img {
    height: 58vh;
    float: right;
  }
}