@import url('https://fonts.googleapis.com/css?family=Exo+2:800&display=swap');

.wayback {
  background-color: #00BD56;
  border-top-right-radius: 2em;
  display: block;
}

.header {
  font-family: 'Nunito', sans-serif;
  background-color: #F9FD50;
  color: #00BD56;
  width: 80vw;
  max-width: 875px;
  padding: 1em;
  border-bottom-left-radius: 2em;
  border-top-right-radius: 2em;
  a {
    text-decoration: none;
    color: #00BD56;
  }
}

.difFont {
  font-family: 'Exo 2', sans-serif;
}